services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5010:5010"
    hostname: yasha-flask
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    restart: unless-stopped
    tty: true
    command: ["python3", "app.py"]

    volumes:
      - .:/home/yasha
    depends_on:
      - db
    networks:
      - yasha

  db:
    restart: always
    image: postgres:16rc1
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - yasha

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - 5011:8080
    depends_on:
      - db
    networks:
      - yasha

networks:
  yasha:

volumes:
  pgdata:
    driver: local